# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore build artifacts
/build

# Ignore temporary files
*.tmp

# Ignore compiled binaries
*.exe
*.dll

# Ignore package-lock.json file
package-lock.json

# Ignore .DS_Store files (Mac)
.DS_Store

# Ignore Thumbs.db files (Windows)
Thumbs.db